// Nord（暗、冷调蓝灰，北欧极简风）
// 来自 https://www.nordtheme.com

$nord: (
  base:    #2e3440,
  mantle:  #292e39,
  crust:   #242933,

  surface0: #3b4252,
  surface1: #434c5e,
  surface2: #4c566a,

  text:    #eceff4,
  subtext0: #d8dee9,
  subtext1: #e5e9f0,

  blue:    #5e81ac,
  lavender: #81a1c1,
  red:     #bf616a,
  peach:   #d08770,
  yellow:  #ebcb8b,
  green:   #a3be8c,
  teal:    #88c0d0,
  maroon:  #b48ead,

  overlay: #616e88,
);