// Tokyo Night（暗、深紫调，流行的 IDE 配色）
// 来自 https://github.com/enkia/tokyo-night-vscode-theme

$tokyo-night: (
  base:    #1a1b26,
  mantle:  #16161e,
  crust:   #0f0f17,

  surface0: #24283b,
  surface1: #2f3549,
  surface2: #414868,

  text:    #c0caf5,
  subtext0: #9aa5ce,
  subtext1: #a9b1d6,

  blue:    #7aa2f7,
  lavender: #bb9af7,
  red:     #f7768e,
  peach:   #ff9e64,
  yellow:  #e0af68,
  green:   #9ece6a,
  teal:    #7dcfff,
  maroon:  #db4b4b,

  overlay: #565f89,
);